# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Publish output
publish/

# .NET
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm

# User-specific files
*.suo
*.user
*.sln.docstates

# NuGet
**/[Pp]ackages/*
*.nupkg
**/packages/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store

# Old archived pages
old_pages/
